*
{
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    background-color: #6dd5ed;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header
{
    width: 100%;
}

menu
{
    align-items: center;
    background-color: #2193b0;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.377);
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    height: 70px;
    justify-content: space-between;
    width: 100%;
}

menu span
{
    font-size: 22px;
}

menu ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 50%;
}

menu ul li
{
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: .5s border-bottom;
}

menu ul li a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

menu ul li:hover
{
    border-bottom: 2px solid white;
    transition: .5s;
}

menu img#profile
{
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    object-fit: cover;
    width: 40px;
}

.message
{
    align-items: center;
    background-color: #2193b0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.377);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 700px;
}

.oneOng
{    
    background-color: #2193b0;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.377);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 80%;
}

.profile img
{
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.info
{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info span,
.categoria
{
    margin-top: -25px;
}

.admin
{
    background-color: #2193b0;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.377);
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 300px;
}

.admin .doadores,
.admin .ongs
{
    align-items: center;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.377);
    display: flex;
    flex-direction: column;
    width: 50%;
}

.admin img
{
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 30px;
}

.admin .doadores > div,
.admin .ongs > div
{
    align-items: center;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 50%;
}